<!DOCTYPE html>
<html>
  <head>
    <title>API Sismul</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if logged_in? %>
    <%= link_to 'Keluar', logout_path, method: :delete, class: "pull-right btn btn-sm btn-danger", style: "margin: 5px;" %>
  <% end %>
    <div class="container text-center">
      <div class="row content">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
